/* page base styles */
body {
    display: flex;
    flex-direction: column;
    background-color: #edefee;
    font-family: "Marzaki Text", serif;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Amatic SC', cursive;
    max-width: 1281px;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 3rem;
}

header > img {
    display: block;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
}

/* nav menu */
nav {
    height: 5rem;
}
nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 100%;
    height: 100%;
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
    border-top: 1px solid rgb(22,122,146);
    border-bottom: 1px solid rgb(22,122,146);
}

nav ul li a {
    text-decoration: none;
    color: rgb(0, 27, 34);
    font-size: 2rem;
    font-weight: 700;
    transition: color 0.25s ease-in-out; 
}
nav ul li a:hover {
    color: rgb(22,122,146);
}

/* main general styles */
main {
    width: 100%;
    margin-top: 1rem;
}

section {
    display: flex;
}

article {
    flex: 1;
}

/* main > intro section */
#intro {
    width: 100%;
    background:linear-gradient(0deg, rgba(22,122,146, 1), rgba(22,122,146, 0.5)), url(../images/GARDENING.jfif);
    background-size:cover;
}
#intro h1 {
    color: white;
    margin: 2rem 2rem 0rem 2rem;
}

#intro p {
    color: white;
    margin: 2rem 2rem 2rem 2rem;
}
#intro h1 {
    font-size: 5rem;
}
#intro p {
    font-size: 2rem;
}

/* main > products section */
#products {
    display: flex;
    flex-wrap: wrap;
}
#products article>a {
    text-decoration: none;
}
#products article>a>* {
    transition: color 0.25s ease-in-out;    
}
#products article>a:hover > * {
    color:rgba(85, 122, 149, 1);
}
.plant-types {
    flex-wrap: wrap;
}
.plant-types h1 {
    font-size: 3rem;
    margin: 0.75rem;
}
.plant-types p {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0.75rem;
}
#shrubs {
    background: linear-gradient(0deg, rgba(202, 250, 254, 0.8), rgba(202, 250, 254, 0.5), rgba(202, 250, 254, 0.8)), url(../images/SHRUBS.jpg);
    background-size: cover;
    padding: 1.5rem;
}
#shrubs h1 {
    color: rgba(5, 56, 107, 1);
}
#shrubs p {
    color: rgba(5, 56, 107, 1);
}

#perennials {
    background: linear-gradient(0deg, rgba(202, 250, 254, 0.8), rgba(202, 250, 254, 0.5), rgba(202, 250, 254, 0.8)), url(../images/PERENNIALS.jfif);
    background-size:cover;
    padding: 1.5rem;
}
#perennials h1 {
    color: rgba(5, 56, 107, 1);
}
#perennials p {
    color: rgba(5, 56, 107, 1);
}

#grasses {
    background: linear-gradient(0deg, rgba(202, 250, 254, 0.8), rgba(202, 250, 254, 0.5), rgba(202, 250, 254, 0.8)), url(../images/GRASSES.jpg);
    background-size:cover;
    padding: 1.5rem;
}
#grasses h1 {
    color: rgba(5, 56, 107, 1);
}
#grasses p {
    color: rgba(5, 56, 107, 1);
}

/* footer section */
footer {
    display: flex;
    flex-direction: column-reverse;
}

footer div {
    display: flex;
    flex: 1;
}

footer div > p {
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5rem;
}

footer div > img {
    margin-left: auto;
    margin-right: auto;
    height: 75px;
}
